<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.superbankapp"
    android:versionCode="1"
    android:versionName="1.0" >
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.VIBRATE" /> 
    

    <uses-sdk
        android:minSdkVersion="5"
        android:targetSdkVersion="17" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name="com.example.superbankapp.MainActivity"
            android:label="@string/app_name"
            android:icon="@drawable/ic_launcher" >
        </activity>
        <activity
            android:name="com.example.superbankapp.Depositado" >
        </activity>
        <activity
            android:name="com.example.superbankapp.HomeActivity">
        </activity>
        <activity
            android:name="com.example.superbankapp.PrincipalActivity" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.example.superbankapp.BancosActivity">
        </activity>
        <activity
            android:name="com.example.superbankapp.GlobalMoneyActivity" >
        </activity>
        <activity
            android:name="com.example.superbankapp.DolarBlueActivity" >
            
        </activity>
    </application>

</manifest>